body > .cont{
  padding: 0px;
}

.cover{
  position: relative;
  overflow: hidden;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.cover-overlay{
  position: absolute;
  vertical-align: middle;
  display: table-cell;
  height: 600px;
  width: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.cover-overlay > .container{
  padding: 0px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.cover-overlay .article-headline{
  color: white;
  text-align: center;
  padding: 0px;
  margin: 0px;
  vertical-align: top;
  font-size: 30px;
  width: 63%;
  margin: auto;
  font-weight: 600;
}

.cover-overlay .headline-title{
  font-size: 64px;
}

.cover-overlay .headline-subtitle{
  font-size: 28px;
  font-weight: 300;
}

.cover-img{
  height: 600px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  max-height: inherit;
  width: auto\9; /* ie8 */
}

.settings-wrapper{
  width: 20%;
}
